//@import url('https://fonts.googleapis.com/css2?family=Robot&display=swap');
// -
@require "reset"


// - Colors
:root
	--col #ff0028

$b      = #fff
$n      = #000
$bg     = #212025
$col 	= var(--col)


//- Media queries
$LgMin 	= "(min-width: 1280px)"
$XLg 	= "(max-width: 1400px)"
$Lg 	= "(max-width: 1280px)"
$Md 	= "(max-width: 1024px)"
$Md2 	= "(max-width: 890px)"
$MdMin 	= "(min-width: 890px)"
$Sm 	= "(max-width: 768px)"


// - Functions
scrollBarInvisible()
	&::-webkit-scrollbar
		width 0 !important /* remove scrollbar space */
		background transparent  /* optional: just make scrollbar invisible */
		display none  // Safari and Chrome

	/* optional: show position indicator in red */
	&::-webkit-scrollbar-thumb
		background #FF0000



absolute100( _win = false )
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	
	if _win
		width 100vw
		height 100vh
		// - height stretch

		@supports ( height: -webkit-fill-available ) // - Chrome
			height -webkit-fill-available

		@supports ( height: -moz-available ) // - Firefox (no va)
			height calc(100vh - 55px)



flex( _justifyCenter = true, _alignCenter = true, _flowColumn = false, _wrap = false )
	display flex

	if _flowColumn
		if _wrap
			flex-flow column wrap
		else
			flex-flow column nowrap
	else
		if _wrap
			flex-flow row wrap
		else
			flex-flow row nowrap

	if _justifyCenter
		justify-content center
	
	if _alignCenter
		align-items center




// - FONTS
//- N: Normal
fontN()
	font-family 'Roboto', sans-serif
	font-weight 300