@require "globals"
// -

body 
	width 100vw
	height 100vh
	background-color #1c1c1d
	overflow hidden

	display flex
	align-items center
	justify-content center
	flex-wrap wrap

	fontN()

	@supports ( height: -webkit-fill-available ) // - Chrome
		height -webkit-fill-available

	@supports ( height: -moz-available ) // - Firefox (no va)
		height calc(100vh - 55px)

	canvas#waveform
		position absolute
		display block
		pointer-events none
		
		width 100vw
		height 200px
		//outline dashed $b 1px
		left 0
		bottom 30%

	input#file
		position absolute
		top 30px
		left 30px
		color $b


.dg.ac
	z-index 999 !important