*, *::before, *::after
	box-sizing border-box

*
	margin 0

html, body
	height 100%

body
	line-height 1.5
	-webkit-font-smoothing antialiased

img, picture, video, canvas, svg
	display block
	max-width 100%

input, button, textarea, select
	font inherit

p, h1, h2, h3, h4, h5, h6
	overflow-wrap break-word


*:not(input):not(textarea)
	user-select none


input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea
	user-select text