doctype html
html( lang="en")
	head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width,initial-scale=1")
			title Test avance 2
			link(rel="stylesheet", href="./css/main.css")

	body

		canvas#waveform

		input#file( type="file" )
			
		script(src="./js/main.min.js")